# Global Crypto Behavior Analyzer

In [8]:
import json
import pandas as pd 

from datetime import datetime

from market_response.crypto import CoinMarketCapResponse
from utils.json_io          import json_write


cryptocurrencies = {
    "Bitcoin":  ("BTC", "1"),
    "Ethereum": ("ETH", "1027"),
    "Cardano":  ("ADA", "2010"),
    "Litecoin": ("LTC", "2"),
    "Monero":   ("XMR", "328"),
    "Dogecoin": ("DOGE", "74"),
}

slugs, tickers, id = list(zip(*[[x, y, z] for x, (y, z) in cryptocurrencies.items()]))
coins    = 5000
currency = "USD"
endpoint = "latest-quotes"

# run_type = "API"      # !!! Uses CMC API key and credit. Are you SURE???
# run_type = "SANDBOX" # Uses CMC sandbox and no credit.
run_type = "DEBUG"     # Uses ../data/debug_datat.json (we want this for testing).

data = CoinMarketCapResponse(tickers, slugs, id, coins, currency, endpoint,
                             run_type=run_type)

today = datetime.now().strftime("%Y%m%d")
data.combine_responses(mode="a", suffix=today)

Source   : C:\Users\JasonGarcia24\FINTECH-WORKSPACE\global-crypto-behavior\data\debug_latest-quotes_data.json
RUN TYPE : DEBUG

In [9]:
data.dataframe.head()

,index,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,is_active,platform,cmc_rank,is_fiat,last_updated,quote
0,1,1,Bitcoin,BTC,bitcoin,8935,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000,18783175,18783175,1,None,1,0,2021-08-11T20:04:02.000Z,"{'USD': {'price': 46584.7780844161, 'volume_24..."
1,2,2,Litecoin,LTC,litecoin,711,2013-04-28T00:00:00.000Z,"[mineable, pow, scrypt, medium-of-exchange, bi...",84000000,66752614.515387,66752614.515387,1,None,15,0,2021-08-11T20:04:02.000Z,"{'USD': {'price': 174.70230764025925, 'volume_..."
2,74,74,Dogecoin,DOGE,dogecoin,379,2013-12-15T00:00:00.000Z,"[mineable, pow, scrypt, medium-of-exchange, me...",None,130813243560.315384,130813243560.315384,1,None,7,0,2021-08-11T20:04:03.000Z,"{'USD': {'price': 0.2798593285568, 'volume_24h..."
3,328,328,Monero,XMR,monero,162,2014-05-21T00:00:00.000Z,"[mineable, pow, medium-of-exchange, privacy, r...",None,17971161.768036,17971161.768036,1,None,28,0,2021-08-11T20:04:04.000Z,"{'USD': {'price': 275.07627709730235, 'volume_..."
4,1027,1027,Ethereum,ETH,ethereum,5610,2015-08-07T00:00:00.000Z,"[mineable, pow, smart-contracts, ethereum, bin...",None,117064497.874,117064497.874,1,None,2,0,2021-08-11T20:04:02.000Z,"{'USD': {'price': 3257.2354598728443, 'volume_..."

In [10]:
df = data.dataframe
df = df.reset_index(drop=True)
df.head()

,index,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,is_active,platform,cmc_rank,is_fiat,last_updated,quote
0,1,1,Bitcoin,BTC,bitcoin,8935,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000,18783175,18783175,1,None,1,0,2021-08-11T20:04:02.000Z,"{'USD': {'price': 46584.7780844161, 'volume_24..."
1,2,2,Litecoin,LTC,litecoin,711,2013-04-28T00:00:00.000Z,"[mineable, pow, scrypt, medium-of-exchange, bi...",84000000,66752614.515387,66752614.515387,1,None,15,0,2021-08-11T20:04:02.000Z,"{'USD': {'price': 174.70230764025925, 'volume_..."
2,74,74,Dogecoin,DOGE,dogecoin,379,2013-12-15T00:00:00.000Z,"[mineable, pow, scrypt, medium-of-exchange, me...",None,130813243560.315384,130813243560.315384,1,None,7,0,2021-08-11T20:04:03.000Z,"{'USD': {'price': 0.2798593285568, 'volume_24h..."
3,328,328,Monero,XMR,monero,162,2014-05-21T00:00:00.000Z,"[mineable, pow, medium-of-exchange, privacy, r...",None,17971161.768036,17971161.768036,1,None,28,0,2021-08-11T20:04:04.000Z,"{'USD': {'price': 275.07627709730235, 'volume_..."
4,1027,1027,Ethereum,ETH,ethereum,5610,2015-08-07T00:00:00.000Z,"[mineable, pow, smart-contracts, ethereum, bin...",None,117064497.874,117064497.874,1,None,2,0,2021-08-11T20:04:02.000Z,"{'USD': {'price': 3257.2354598728443, 'volume_..."

In [11]:
df["max_supply"] = df["max_supply"].fillna(0).astype(int)

In [12]:
df["circulating_supply"]= df["circulating_supply"].fillna(0).astype(int)

In [13]:
df["total_supply"]= df["total_supply"].fillna(0).astype(int)

In [14]:
df1 = df[['name', 'symbol','num_market_pairs',
        'last_updated', 'quote']]

df1.head()

,name,symbol,num_market_pairs,last_updated,quote
0,Bitcoin,BTC,8935,2021-08-11T20:04:02.000Z,"{'USD': {'price': 46584.7780844161, 'volume_24..."
1,Litecoin,LTC,711,2021-08-11T20:04:02.000Z,"{'USD': {'price': 174.70230764025925, 'volume_..."
2,Dogecoin,DOGE,379,2021-08-11T20:04:03.000Z,"{'USD': {'price': 0.2798593285568, 'volume_24h..."
3,Monero,XMR,162,2021-08-11T20:04:04.000Z,"{'USD': {'price': 275.07627709730235, 'volume_..."
4,Ethereum,ETH,5610,2021-08-11T20:04:02.000Z,"{'USD': {'price': 3257.2354598728443, 'volume_..."

In [15]:
df_quote = pd.DataFrame(df1["quote"])
df_quote.dtypes

quote    object
dtype: object

In [16]:
all = []
for x in df_quote["quote"]:
    all.append(x["USD"])
    
new_df = pd.DataFrame(all)

In [17]:
new_df

,price,volume_24h,percent_change_1h,percent_change_24h,percent_change_7d,percent_change_30d,percent_change_60d,percent_change_90d,market_cap,market_cap_dominance,fully_diluted_market_cap,last_updated
0,46584.778084,3.386419e+10,0.418874,2.072737,17.033700,42.334737,30.157918,-4.069484,8.750100e+11,44.8932,9.782803e+11,2021-08-11T20:04:02.000Z
1,174.702308,2.416933e+09,0.626159,5.752991,21.385394,31.553468,7.262954,-41.028281,1.166184e+10,0.5992,1.467499e+10,2021-08-11T20:04:02.000Z
2,0.279859,4.707362e+09,0.433129,9.409691,39.399250,36.451041,-11.320295,-26.962232,3.660931e+10,1.8783,3.660931e+10,2021-08-11T20:04:03.000Z
3,275.076277,2.421067e+08,0.434026,4.953511,17.513019,35.054590,10.691014,-27.251035,4.943440e+09,0.2536,4.943440e+09,2021-08-11T20:04:04.000Z
4,3257.235460,2.646566e+10,0.666106,3.227567,20.803719,61.712512,34.830016,-10.441883,3.813066e+11,19.5633,3.813066e+11,2021-08-11T20:04:02.000Z
5,1.864629,6.005314e+09,-0.270520,17.251319,34.810166,44.089929,25.828613,0.516221,5.987765e+10,3.0767,8.390830e+10,2021-08-11T20:03:14.000Z

In [18]:
df_combined = df1.join(new_df,rsuffix="_quote").drop(columns= ["last_updated_quote","quote"])
df_combined

,name,symbol,num_market_pairs,last_updated,price,volume_24h,percent_change_1h,percent_change_24h,percent_change_7d,percent_change_30d,percent_change_60d,percent_change_90d,market_cap,market_cap_dominance,fully_diluted_market_cap
0,Bitcoin,BTC,8935,2021-08-11T20:04:02.000Z,46584.778084,3.386419e+10,0.418874,2.072737,17.033700,42.334737,30.157918,-4.069484,8.750100e+11,44.8932,9.782803e+11
1,Litecoin,LTC,711,2021-08-11T20:04:02.000Z,174.702308,2.416933e+09,0.626159,5.752991,21.385394,31.553468,7.262954,-41.028281,1.166184e+10,0.5992,1.467499e+10
2,Dogecoin,DOGE,379,2021-08-11T20:04:03.000Z,0.279859,4.707362e+09,0.433129,9.409691,39.399250,36.451041,-11.320295,-26.962232,3.660931e+10,1.8783,3.660931e+10
3,Monero,XMR,162,2021-08-11T20:04:04.000Z,275.076277,2.421067e+08,0.434026,4.953511,17.513019,35.054590,10.691014,-27.251035,4.943440e+09,0.2536,4.943440e+09
4,Ethereum,ETH,5610,2021-08-11T20:04:02.000Z,3257.235460,2.646566e+10,0.666106,3.227567,20.803719,61.712512,34.830016,-10.441883,3.813066e+11,19.5633,3.813066e+11
5,Cardano,ADA,284,2021-08-11T20:03:14.000Z,1.864629,6.005314e+09,-0.270520,17.251319,34.810166,44.089929,25.828613,0.516221,5.987765e+10,3.0767,8.390830e+10

In [19]:
df_combined["volume_24h"] = df_combined["volume_24h"].fillna(0).astype(int)

In [20]:
df_combined["market_cap"] = df_combined["market_cap"].fillna(0).astype(int)

In [21]:
df_combined["fully_diluted_market_cap"] = df_combined["fully_diluted_market_cap"].fillna(0).astype(int)

In [22]:
df_combined.head()

,name,symbol,num_market_pairs,last_updated,price,volume_24h,percent_change_1h,percent_change_24h,percent_change_7d,percent_change_30d,percent_change_60d,percent_change_90d,market_cap,market_cap_dominance,fully_diluted_market_cap
0,Bitcoin,BTC,8935,2021-08-11T20:04:02.000Z,46584.778084,-2147483648,0.418874,2.072737,17.033700,42.334737,30.157918,-4.069484,-2147483648,44.8932,-2147483648
1,Litecoin,LTC,711,2021-08-11T20:04:02.000Z,174.702308,-2147483648,0.626159,5.752991,21.385394,31.553468,7.262954,-41.028281,-2147483648,0.5992,-2147483648
2,Dogecoin,DOGE,379,2021-08-11T20:04:03.000Z,0.279859,-2147483648,0.433129,9.409691,39.399250,36.451041,-11.320295,-26.962232,-2147483648,1.8783,-2147483648
3,Monero,XMR,162,2021-08-11T20:04:04.000Z,275.076277,242106687,0.434026,4.953511,17.513019,35.054590,10.691014,-27.251035,-2147483648,0.2536,-2147483648
4,Ethereum,ETH,5610,2021-08-11T20:04:02.000Z,3257.235460,-2147483648,0.666106,3.227567,20.803719,61.712512,34.830016,-10.441883,-2147483648,19.5633,-2147483648

In [23]:
df_combined["last_updated"]= pd.to_datetime( df_combined["last_updated"],infer_datetime_format=True)

In [24]:
df_combined.head()

,name,symbol,num_market_pairs,last_updated,price,volume_24h,percent_change_1h,percent_change_24h,percent_change_7d,percent_change_30d,percent_change_60d,percent_change_90d,market_cap,market_cap_dominance,fully_diluted_market_cap
0,Bitcoin,BTC,8935,2021-08-11 20:04:02+00:00,46584.778084,-2147483648,0.418874,2.072737,17.033700,42.334737,30.157918,-4.069484,-2147483648,44.8932,-2147483648
1,Litecoin,LTC,711,2021-08-11 20:04:02+00:00,174.702308,-2147483648,0.626159,5.752991,21.385394,31.553468,7.262954,-41.028281,-2147483648,0.5992,-2147483648
2,Dogecoin,DOGE,379,2021-08-11 20:04:03+00:00,0.279859,-2147483648,0.433129,9.409691,39.399250,36.451041,-11.320295,-26.962232,-2147483648,1.8783,-2147483648
3,Monero,XMR,162,2021-08-11 20:04:04+00:00,275.076277,242106687,0.434026,4.953511,17.513019,35.054590,10.691014,-27.251035,-2147483648,0.2536,-2147483648
4,Ethereum,ETH,5610,2021-08-11 20:04:02+00:00,3257.235460,-2147483648,0.666106,3.227567,20.803719,61.712512,34.830016,-10.441883,-2147483648,19.5633,-2147483648

In [29]:
df_combined.loc[:, "percent_change_1h"]

0    0.418874
1    0.626159
2    0.433129
3    0.434026
4    0.666106
5   -0.270520
Name: percent_change_1h, dtype: float64